# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/


# Expo
.expo/
dist/
web-build/

# EAS Submit Key
eas-submit-key.json
*-service-account.json
scervmvp-*.json
backups/
credentials/firebase/**/*
!credentials/firebase/**/
!credentials/firebase/**/.gitkeep
!credentials/firebase/**/README.md

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

.codegpt
