/* web-app/admin/src/components/styles/RestaurantDetails.css */
.restaurant-details-container {
    font-family: sans-serif;
    padding: 20px;
    max-width: 1120px;
    margin: 0 auto; /* Center the container */
}

.restaurant-details-container h2 {
    margin-bottom: 10px;
}

.restaurant-details-container p {
    margin-bottom: 5px;
}

.restaurant-details-container form div {
    margin-bottom: 10px;
}

.restaurant-details-container label {
    display: block;  /* Labels on their own line */
    margin-bottom: 5px;
    font-weight: bold;
}

.restaurant-details-container input[type="text"],
.restaurant-details-container input[type="number"],
.restaurant-details-container input[type="email"],
.restaurant-details-container input[type="tel"],
.restaurant-details-container input[type="password"],
.restaurant-details-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding in width */
}
.restaurant-details-container input[type="checkbox"]{
    width: fit-content;
}

.restaurant-details-container button {
    padding: 8px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}
.restaurant-details-container button:disabled{
    cursor: not-allowed;
}

.restaurant-details-container button:first-of-type {
    background-color: #4CAF50; /* Green */
    color: white;
}
.restaurant-details-container button:last-of-type {
    background-color: #008CBA; /* Blue for Cancel */
    color: white;
}

.error {
    color: red;
    margin-top: 10px;
}
.restaurant-details-container strong{
    margin-right: .25rem;
}
